<div class="page-container">
  <div class="header">
    <div class="header-text">Photo Fetcher</div>
  </div>

  <div class="action-bar">
    <div class="buttons-wrapper">
      <mat-slide-toggle color="primary" [(ngModel)]="isGrayscaleEnabled"
        >Make photos grayscale</mat-slide-toggle
      >
      <button mat-flat-button color="primary" (click)="onSubmit()">
        Fetch New Photos
      </button>
    </div>
  </div>

  <div class="photos-wrapper" *ngIf="slicedArray.length > 0; else loading">
    <div
      class="photo"
      *ngFor="let photo of slicedArray"
      [ngClass]="{ grayscale: isGrayscaleEnabled }"
    >
      <img src="{{ photo.titleImageUrl }}" />
      <div class="photo-informations-wrapper">
        <div class="photo-informations">
          <div class="seller">{{ photo.seller.showName }}</div>
          <div class="description" matTooltip="{{ photo.itemName }}">
            {{ photo.itemName }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-wrapper">
      <div class="loading-text">Loading data, please wait ...</div>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
